/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2017, 7:45:00 PM
    Author     : saloniagrawal
*/

#image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
     
}
#text {
  top:150px;
  color: white;
  font-family: 'Donegal One';font-size: 120px;
}
#text2 {
  top:250px;
  color: white;
  font-family: 'Donegal One';font-size: 25px;
}